input {
    display: inline-block;
    margin: 10px;
    height: 25px;
    font-size: 15px;
  }
  input:first-child {
    width: 60%;
  }
  input:last-child {
    background-color: lightskyblue;
    font-size: 15px;
  }
  select {
    height: 25px;
    font-size: 15px;
  }
  